/* ------------------ BOX ------------------ */

/* bg border */
.bg {
	/* for plain background */
	background: #fe82b624;

	/* vv for image background. remove if want plain */
	background-image: url(https://loveberry.nekoweb.org/assets/images/res/pattern.jpeg);
	background-size: cover;

	padding: 12px; /* make number bigger/smaller for a bigger/smaller border */
	width: 100%; /* make px number double the padding number if you want it to be responsive, or change to a full number */
	border: 1px solid black;
}

.inner {
	background: #fff;
	color: #000;
	padding: 5px;
	border: 1px solid black;
	height: 200px; /* set height to "height:fit-content;" to expand with text size */
	overflow-y: auto; /* remove overflow if you don't want a scroll */
}

/* window */
.btitle-bar-controls button {
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	color: transparent;
	min-height: 23px;
	min-width: 75px;
	padding: 0 12px;
	text-shadow: 0 0 #222;
}

.btitle-bar-controls button {
	background: silver;
	box-shadow:
		inset -1px -1px #0a0a0a,
		inset 1px 1px #fff,
		inset -2px -2px grey,
		inset 2px 2px #dfdfdf;
}

.btitle-bar-controls button:not(:disabled):active {
	box-shadow:
		inset -1px -1px #fff,
		inset 1px 1px #0a0a0a,
		inset -2px -2px #dfdfdf,
		inset 2px 2px grey;
	text-shadow: 1px 1px #222;
}

@media (not(hover)) {
	button:not(:disabled):hover {
		box-shadow:
			inset -1px -1px #fff,
			inset 1px 1px #0a0a0a,
			inset -2px -2px #dfdfdf,
			inset 2px 2px grey;
	}
}

.btitle-bar-controls button:focus {
	outline: 1px dotted #000;
	outline-offset: -4px;
}

.btitle-bar-controls button::-moz-focus-inner {
	border: 0;
}

@font-face {
	font-family: "Pixelated MS Sans Serif";
	src: url("https://files.catbox.moe/1za99g.woff") format("woff");
	src: url("https://files.catbox.moe/8fwbkl.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

.bwindow,
.btitle-bar {
	font-family: "Pixelated MS Sans Serif", Arial;
	-webkit-font-smoothing: none;
	font-size: 11px;
}

.bwindow {
	box-shadow:
		inset -1px -1px #0a0a0a,
		inset 1px 1px #dfdfdf,
		inset -2px -2px #808080,
		inset 2px 2px #ffffff;
	background: #c0c0c0;
	color: #000;
	padding: 3px;
	width: 100%;
}

.btitle-bar {
	background: linear-gradient(90deg, purple, orchid, pink);
	padding: 3px 2px 3px 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btitle-bar-text {
	font-weight: bold;
	color: white;
	letter-spacing: 0;
	margin-right: 24px;
}

.btitle-bar-controls {
	display: flex;
}

.btitle-bar-controls button {
	padding: 0;
	display: block;
	min-width: 16px;
	min-height: 14px;
}

.btitle-bar-controls button:active {
	padding: 0;
}

.btitle-bar-controls button:focus {
	outline: none;
}

.btitle-bar-controls button[aria-label="Minimize"] {
	background-image: url("https://loveberry.nekoweb.org/assets/images/mp/minimize.svg");
	background-position: bottom 3px left 4px;
	background-repeat: no-repeat;
}

.btitle-bar-controls button[aria-label="Maximize"] {
	background-image: url("https://loveberry.nekoweb.org/assets/images/mp/maximize.svg");
	background-position: top 2px left 3px;
	background-repeat: no-repeat;
}

.btitle-bar-controls button[aria-label="Close"] {
	background-image: url("https://loveberry.nekoweb.org/assets/images/mp/close.svg");
	background-position: top 3px left 4px;
	background-repeat: no-repeat;
	margin-left: 2px;
}

.bwindow-body {
	margin: 8px;
}

/* literally only part ive custom coded so it scrolls . i also like the effect the fieldset adds */
.bfieldset {
	border: 1px gray solid;
	box-shadow:
		white 1px 1px 0px inset,
		white 1px 1px 0px,
		white 0px 1px 0px,
		white 1px 0px 0px;
	margin: 0;
	padding: 10px;
	overflow-y: auto;
	height: 190px;
}

/* popbox */
.popbox {
	box-shadow:
		inset 13px 0px 6px -10px rgb(66 66 66 / 56%),
		inset -13px 0px 6px -10px rgb(66 66 66 / 56%),
		inset 0px 13px 6px -10px #ffffff,
		inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
	filter: drop-shadow(0px 0px 1px #424242);
	-webkit-filter: drop-shadow(0px 0px 1px #424242);
	background: white;
	color: black;
	width: 100%;
	height: fit-content;
	max-height: 190px;
	overflow-y: auto;
	border-radius: 10px;
	padding: 8px 10px 10px 10px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* white cloud */
.whitecloudybox {
	height: 139px;
	width: 100%;
	border: 10px solid transparent;
	box-sizing: border-box;
	border-image: url(https://loveberry.nekoweb.org/assets/images/res/cloud.png) 50 round;
}
.whitecloudyfull {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: #fff;
	color: black;
}

/* pink cloud */
.pinkcloudybox {
	height: 139px;
	width: 100%;
	border: 10px solid transparent;
	box-sizing: border-box;
	border-image: url(https://loveberry.nekoweb.org/assets/images/res/pinkcloud.png) 50 round;
}
.pinkcloudyfull {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: #feb6dc;
	color: black;
}

/* circle */
.circlehold {
	width: 100%;
	height: 155px;
}

.circletext {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 2px;
	position: relative;
	bottom: 150px;
	width: 300px;
	height: 140px;
	margin: 0 auto;
	z-index: 2;
	text-shadow:
		rgb(255, 255, 255) 2px 0px 0px,
		rgb(255, 255, 255) 1.75517px 0.958851px 0px,
		rgb(255, 255, 255) 1.0806px 1.68294px 0px,
		rgb(255, 255, 255) 0.141474px 1.99499px 0px,
		rgb(255, 255, 255) -0.832294px 1.81859px 0px,
		rgb(255, 255, 255) -1.60229px 1.19694px 0px,
		rgb(255, 255, 255) -1.97999px 0.28224px 0px,
		rgb(255, 255, 255) -1.87291px -0.701566px 0px,
		rgb(255, 255, 255) -1.30729px -1.51361px 0px,
		rgb(255, 255, 255) -0.421592px -1.95506px 0px,
		rgb(255, 255, 255) 0.567324px -1.91785px 0px,
		rgb(255, 255, 255) 1.41734px -1.41108px 0px,
		rgb(255, 255, 255) 1.92034px -0.558831px 0px;
	font-weight: bold;
}

.circle {
	margin: 0 auto;
	background: pink;
	opacity: 50%;
	position: relative;
	top: 2px;
	width: 300px;
	height: 150px;
	transform: rotate(-10deg);
	border-radius: 100%;
}

/* glow */
.glowpad {
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}
.glow {
	margin: 0 auto;
	width: 100%;
	height: 150px;
	border: 3px solid pink;
	background: pink;
	border-radius: 10px;
	box-shadow:
		0px 0px 10px pink,
		0px 0px 10px pink,
		0px 0px 10px pink,
		0px 0px 10px pink,
		0px 0px 14px pink;
	color: black;
	overflow-y: auto;
}

/* brackets */
.brackets {
	border: 3px hotpink solid;
	border-width: 0 3px 0 3px;
	border-radius: 10px;
	padding: 0px 4px 0px 4px;
	width: 80%; /* change number if needed */
	height: 100px; /* change number if needed */
	overflow-y: auto;
	margin: 0 auto;
}

/* lace scrolling */
.lacescr {
	border-width: 7px;
	border-style: solid;
	border-image: url("https://loveberry.nekoweb.org/assets/images/res/lace.png") 8 fill round;
	width: 100%;
	height: 100px;
	overflow-y: auto;
	color: black;
}