hr {
    border: 1px solid var(--foreground);
    border-width: 1px 0 0 0;
  }
  .faketitlelink {
      font-weight: normal;
      font-style: italic;
      font-size: 1.25rem;
  }
  
      #junenote { display:none;}
  
  .linksorted {    
    display:inline-block;
    border:transparent 1px solid;
  }
  
  span { 
      font-family: "Atkinson Hyperlegible", serif;
      }
  
      .lucide { 
          height: 18px;
          width: 18px;
          position:relative;
          top: 2px;
       }
       
  .postdir {
    display:block;
  }
  
  .postdir:hover {
  background:var(--accent10);
  }
  
  .filterDiv {
      display: none;
      border: 1px solid var(--foreground);
      background:var(--background);
      padding: 5px;
      margin-bottom:10px;
      word-break: break-all;
  }

  .tagsec {
    margin:0;
    margin-bottom: 10px;
  }

  .search-flex {
    display: flex;
    gap: 10px;
  }

  #viewbutton {
    width: 150px;
    display: block;
      font-family: inherit;
      font-size: 1rem !important;
    background: var(--sumbg);
  padding: 3px 8px;
  color: var(--foreground);
  border: var(--foreground) 1px solid;
  cursor:pointer;
  }

  #viewbutton:hover {
    background: var(--accent10)
  }

  #searchInput {
    width: 100%;
    padding: 0.5rem 2rem;
    font-size: 1.10rem;
    background:var(--backgrounddark);
    color:var(--foreground);
    border: 1px solid var(--foreground);
  }

  .search-wrapper {
    position: relative;
    width: 100%;
  }

  .search-wrapper input {
    width: 100%;
    font-size: 1.10rem;
  }

  .search-wrapper .icon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    pointer-events: none;
    color:var(--foreground);
  }
  
  .hidden {
    display: none;
  }
  
  .nomarb { margin-bottom:0; }

  .show {
      display: block;
  }
  
  .filtertag {
      cursor: pointer;
      background: var(--background);
      padding: 3px 8px;
      color: var(--foreground);
      border: var(--foreground) 1px solid;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      margin:4px;
      font-size: 1.10rem !important;
  }
  .filtertag.active {
      background-color: var(--sumbg);
      color: var(--sumtt);
      box-sizing: border-box;
  }
  
  .nmbp { margin:10px 0 0 00;}

  @media screen and (max-width: 1030px) {
  #viewbutton {
    display: none !important;
  }
}